<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"> </div>
        <div class="col-lg-11">
            <ul> 
                <li> <h1>Abogacia - FCJS UNL <h3>(2017 - en curso)</h3></h1> </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, perferendis deleniti delectus magnam modi, quaerat, atque magni officiis blanditiis maiores unde fugiat sint eaque reprehenderit culpa eveniet corporis libero quos.</p>
            </ul>
            <ul> 
                <li> <h1>Tecnicatura Universitaria en Informática de Gestión - FICH UNL </h1> <h3>(2022 - en curso)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, perferendis deleniti delectus magnam modi, quaerat, atque magni officiis blanditiis maiores unde fugiat sint eaque reprehenderit culpa eveniet corporis libero quos.</p>
            </ul>
            <ul> 
                <li> <h1>Tecnicatura en informática Aplicada al Diseño Multimedia y de Sitios Web - FICH UNL </h1> <h3>(2023)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, perferendis deleniti delectus magnam modi, quaerat, atque magni officiis blanditiis maiores unde fugiat sint eaque reprehenderit culpa eveniet corporis libero quos.</p>
            </ul>
            <ul> 
                <li> <h1>Full Stack Python - Codo a Codo </h1> <h3>(2022)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, perferendis deleniti delectus magnam modi, quaerat, atque magni officiis blanditiis maiores unde fugiat sint eaque reprehenderit culpa eveniet corporis libero quos.</p>
            </ul>
            <ul> 
                <li> <h1>Introducción a Python </h1> <h3>(2020)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, perferendis deleniti delectus magnam modi, quaerat, atque magni officiis blanditiis maiores unde fugiat sint eaque reprehenderit culpa eveniet corporis libero quos.</p>
            </ul>
            <ul> 
                <li> <h1>Full Stack - Argentina Programa </h1> <h3>(2022)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, perferendis deleniti delectus magnam modi, quaerat, atque magni officiis blanditiis maiores unde fugiat sint eaque reprehenderit culpa eveniet corporis libero quos.</p>
            </ul>
        </div>
</div>