*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: black;
}

.row{

}

footer {
    color: #fff;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
}