*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#logoap {
    width: 13rem;
}

img{
    width: 45px;
    margin: 0.5rem;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes{
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
}

.btn{
    border-width: medium;
    border-color: #BAA8FD;
    margin: 0.5rem;
    color: #BAA8FD;
    font-weight: bold;
    padding: 0.5rem;
}

.btn:hover{
    background-color: #BAA8FD;
    color: black;
    font-weight: bold;
}
 /*Vista de celular**/

@media (max-width:660px) {
    .container {
        flex-direction: column;
    }
    .redes, .btn{
        display: flex;
        /*flex-direction: column;*/
        align-items: center;
        justify-content: space-between;
        margin: auto;
        width: auto;
        margin-bottom: 0.5rem;
    
    }
    .redes img{
        width: 1.5rem;
        margin: 0.5rem;
    } 
    .btn{
        margin: 1rem;
    }
}
