<div class="row">
    <h1>Hard and soft skills</h1>
    <div class="d-flex flex-wrap gap-3 justify-content-center p">
        <div >
            <circle-progress
                [percent]="80"
                [radius]="100"
                [imageSrc]="'../assets/HTML.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="70"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#BAA8FD'"
                [innerStrokeColor]="'#876fde'"
                [animation]="true"
                [animationDuration]="800"
            ></circle-progress>
        </div>
        <div >
            <circle-progress
                [percent]="60"
                [radius]="100"
                [showUnits]="false"
                [imageSrc]="'../assets/CSS.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="72"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#BAA8FD'"
                [innerStrokeColor]="'#876fde'"
                [animation]="true"
                [animationDuration]="800"
            ></circle-progress>
        </div>
        <div>
            <circle-progress
                [percent]="70"
                [radius]="100"
                [showUnits]="false"
                [imageSrc]="'../assets/PYTHON.png'"
                [showImage]="true"
                [imageHeight]="95"
                [imageWidth]="95"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#BAA8FD'"
                [innerStrokeColor]="'#876fde'"
                [animation]="true"
                [animationDuration]="800"
            ></circle-progress>
        </div>
        <div>
            <circle-progress
                [percent]="20"
                [radius]="100"
                [showUnits]="false"
                [imageSrc]="'../assets/JS.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#BAA8FD'"
                [innerStrokeColor]="'#876fde'"
                [animation]="true"
                [animationDuration]="800"
            ></circle-progress>
        </div>
        <div>
            <circle-progress
                [percent]="85"
                [radius]="100"
                [showUnits]="false"
                [imageSrc]="'../assets/github1.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#BAA8FD'"
                [innerStrokeColor]="'#876fde'"
                [animation]="true"
                [animationDuration]="800"
            ></circle-progress>
        </div>
        <div>
            <circle-progress
                [percent]="70"
                [radius]="100"
                [showUnits]="false"
                [imageSrc]="'../assets/illustrator.png'"
                [showImage]="true"
                [imageHeight]="75"
                [imageWidth]="73"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#BAA8FD'"
                [innerStrokeColor]="'#876fde'"
                [animation]="true"
                [animationDuration]="800"
            ></circle-progress>
        </div>
        <div>
            <circle-progress
                [percent]="100"
                [radius]="100"
                [showUnits]="false"
                [imageSrc]="'../assets/trabgrup.png'"
                [showImage]="true"
                [imageHeight]="85"
                [imageWidth]="85"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#BAA8FD'"
                [innerStrokeColor]="'#876fde'"
                [animation]="true"
                [animationDuration]="800"
            ></circle-progress>
        </div>
        <div>
            <circle-progress
                [percent]="50"
                [radius]="100"
                [showUnits]="false"
                [imageSrc]="'../assets/ingles.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="65"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#BAA8FD'"
                [innerStrokeColor]="'#876fde'"
                [animation]="true"
                [animationDuration]="800"
            ></circle-progress>
        </div>
        <div>
            <circle-progress
                [percent]="80"
                [radius]="100"
                [showUnits]="false"
                [imageSrc]="'../assets/comunicacion.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="83"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#BAA8FD'"
                [innerStrokeColor]="'#876fde'"
                [animation]="true"
                [animationDuration]="800"
            ></circle-progress>
        </div>
    </div>
</div>